/* app css stylesheet */
body {
  background:#f5f5f5;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.faux-topnav {
  height:54px;
  background:#3a7297;
  position:fixed;
  left:0;
  right:0;
  top:27px;
  z-index:1;
}
.faux-main {
  padding-top:65px;
}

.card-white {
  background:#fff;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.11);
  padding: 10px;
  margin-bottom:60px;
  position: relative;
}

.card-white .header {
  border-bottom: 2px solid #3a7297;
  margin-bottom: 1em;
}

h2.panel-identifier {
  margin-top: 0;
  font-weight: 100;
}

.label {
  font-weight: 400;
  color: #585858;
}
.sp-form-body {
  padding-bottom: 40px;
  overflow-x: auto;
}
.sp-form-fixed-footer {
  position:absolute;
  left:0;
  right:0;
  bottom: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.87);
  border-top: 1px solid #e3e3e3;
}

.nav-stacked {
  display:inline-block;
}

.tab-content {
  display:inline-block;
  vertical-align: top;
}

.sp-header {
  position: fixed;
  background: #fff;
  padding: 10px;
  top: 0;
  border-bottom: 1px solid #e3e3e3;
  z-index:1;
  width: 100%;
  margin-left: -20px;
    margin-right: -20px;
}

.btn-danger-text, a.btn-danger-text {
  color: #d9534f;
}

.sp-body {
  padding-top:45px;
}

.panel-aside {
  background: rgba(255, 255, 255, 0.89);
  width:100%;
}

.panel-sidenav-wrapper {
  display: inline-block;
  position: absolute;
  background: #fff;
  height: 500px;
}

ul.panel-sidenav {
  padding-left:0px;
}
ul.panel-sidenav li{
  list-style:none;
  padding:4px 6px;
  height: 45px;
  width: 45px;
  border-bottom:1px solid #e3e3e3;
  text-align: center;
  line-height: 2.5;
}

.panel-widget {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0px;
}

h3.panel-widget-header {
  font-weight:100;
}

ul.panel-widget-list {
  padding-left:0px;
}

ul.panel-widget-list li{
  padding:10px;
  background:#f2f2f2;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.11);
  list-style: none;
  margin-bottom: 10px;
}

.panel-right-side {
  max-height: 500px;
  overflow: auto;
  display:inline-block;
  width: 90%;
}

.aside .aside-dialog .aside-body {
  position: relative;
  padding: 20px 50px 20px 20px;
}
.sp-header .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float:none;
}
.hidden-tablet {
  display:inline-block;
}
.display-tablet {
    display:none;
}
li.form-icon {
  display:none;
}
.display-mobile {
    display:none;
}
@media (max-width:768px) {
  .hidden-tablet {
    display:none;
  }
  .display-tablet {
    display:inline-block;
  }
  div.sp-widget div:nth-child(1) {
    display:none;
  }
}

@media (max-width:990px) {
   .panel-right-side {
        height: 100%;
        max-height: none;
        overflow: hidden;
        position:relative;
        width: 100%;
      }
   .sp-form-fixed-footer {
      position: relative;
    }
    .card-white {
      margin-bottom: 0px;
    }
    .panel-sidenav-wrapper{
      position: fixed;
      right: 0;
      top: 54px;
      height: 100%;
    }
    li.form-icon {
      display:block;
    }
}
@media (max-width:420px) {
   .col-md-8, .col-md-4 {
      padding:0px;
   }
   .aside .aside-dialog .aside-body {
    position: relative;
    padding: 20px 0px 20px 0px;
  }
  .sp-header {
    margin-left: 0px;
    margin-right: -20px;
    right: 0;
    left: 0;
  }
  .sp-body {
    padding-top: 35px;
  }
  .sidebar-offcanvas {
    right: -50%;
  }
  .sidebar-offcanvas-open {
    right: 0;
  }
  .display-mobile {
    display:inline-block;
  }
}
